<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>重複写真を検出・削除するためにフォトライブラリへアクセスします。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>写真の保存に使用します。</string>
</dict>
</plist>
